@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&familY');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    padding-top: 60px;
}

/* styling the navbar */
.brand{
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
}
#collasible-nav-dropdown{
    color: white;
}
.dropdown-menu.show{
    background-color: black;
}
.search-icon{
    padding-right: 20px;
}
.search-bar{
    padding-right: 20px;
}

/* styling for the register & login page */
h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

/* Styling for the opening carousel */
.carousel-caption {
    text-align: left;
  }

.dark-image {
    filter: brightness(60%); /* Adjust the brightness percentage as needed */
}

/* Styling for the cards */
.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    max-width: 200px;
    border: 0;
    margin: 15px;
    padding: 0; 
  }
  
  .card img {
    display: block;
    width: 100%;
    border: 0;
    height:100%;
    object-fit: cover;
    margin: 0; 
    padding: 0; 
  }
  
  .card-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: #330A0B;
    overflow: hidden;
    transition: 0.5s ease;
  }
  
  .card:hover .card-overlay {
    bottom: 0;
    height: 100%;
  }
  
  .card h2 {
    display: flex;
    text-align: center;
    font-weight: bolder;
    white-space: normal;
    color: red;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  /* Styling for the Show detaial page */
  #dropdown-basic{
    background-color: black;
    border: 0;
    font-size: xx-large;
  }

  .my-card{
    max-width: 100%;
    background-color: black;
  }
  

  .episode-hover :hover{
    color: yellow;
  }
  